@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --container: 1180px;

  /* Typography */
  --font-size-xxl: 54px;

  --lineheight-xxl: 71px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: var(--font-playfair-display);
  color: #707070;
}

.container {
  max-width: var(--container);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@screen lg {
  :root {
    /* Typography */
    --font-size-xxl: 40px;

    --lineheight-xxl: 60px;
  }
}

@screen lg {
  :root {
    /* Typography */
    --font-size-xxl: 35px;

    --lineheight-xxl: 50px;
  }
}
